<!DOCTYPE html>
<html>
  <head>
    <title>witdiem</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0, user-scalable = no">
  </head>
  <body>
    <img src="/images/witdiem-logo-large.png"/>
  </body>
</html>
